.alternativas-atividade {
  .wrapper {
    margin-bottom: 3rem;
    .alternativas {
      .opcoes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: .5rem;
        padding-bottom: .5rem;
        &:not(:last-child) {
          border-bottom: 1px solid #bbb;
        }
        div {
          cursor: pointer;
          transition: all .1s ease-in-out;
          background: #ddd;
          width: 320px;
          min-height: 75px;
          border-radius: 5px;
          font-family: 'Crete Round';
          padding: .666rem 2rem;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background: #333;
            color: white;
          }
        }
      }
    }
  }
}