
.menu {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  .closed {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .icone {
      border-radius: 5px;
      padding: 0 7px;
      width: 40px;
    }
  }
  .open {
    min-width: 320px;
    width: 100%;
    overflow: hidden;
    width: 100%;
    position: absolute;
    bottom: 65px;
    right: 0;
    text-align: center;
    ul {
      overflow: hidden;
      list-style-type: none;
      li {
        transition: all .15s ease-in-out;
        background: #444444;
        padding: 20px;
        border-color: #222;
        transform: translateX(100%);
        &.active:hover {
          background: rgba($color: #444, $alpha: .333) !important;
          border: none;
          border-left: 6px solid #222;
          color: black;
        }
        &:nth-child(even) {
          background: #333;
        }
        &.active {
          border-left: #222 3px solid;
          border-right: #222 3px solid;
          transform: translateX(0);
        }
      }
    }
  }
}